<!doctype html>

<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

<meta http-equiv="X-UA-Compatible" content="ie=edge">

<!-- Latest compiled and minified CSS -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link href='https://fonts.googleapis.com/css?family=Mulish' rel='stylesheet'>


<!-- jQuery library -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>



<!-- Latest compiled JavaScript -->

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<title>Scotia Bud®</title>

</head>

<style>

.header {

    padding: 50px;

    text-align: center;

    background: rgb(255, 253, 253);

    color: rgb(213, 63, 63);

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.button-round{
    float: right;
    position: relative;
    top: -25px;
    background-color: rgb(213, 63, 63);
    color:rgb(255, 253, 253);
    border-radius: 8px;
    border: none;
    padding: 15px;
    font-size:16px;
}



body {

    font-family: Mulish;

    background-color:#f1f1f1de;

}


.optionsPane {
    width: 200px;
    height: 400px;
    float: left;
    background-color: rgb(255, 255, 255);
    border-collapse: collapse;
}

.mainPane {
    height: 425px;
    background-color: rgb(128, 84, 84);
    float: right;
    border-collapse: collapse;
}



/* Main content */

.main {

    padding: 0px 10px;

}


@media screen and (max-height: 450px) {

    .sidenav {padding-top: 15px;}

    .sidenav a {font-size: 18px;}

}

</style>

</head>

<body>



<div class="header">

    <div style="float:left;position:relative;top:-25px">

        <h2><b>Scotia</b> Bud®</h2>

    </div>

    <div style="right:0">
        <button class="button button-round">Sign Out</button>
    </div>

</div>



<script>

// To open and close side navbar

function openNav() {

    document.getElementById("mySidenav").style.width = "250px";

}



function closeNav() {

    document.getElementById("mySidenav").style.width = "0";

}

</script>